:root {
    --light: #edf2f9;
    --dark: #152e4d;
    --darker: #12263f;
    --color-primary: #0d9488;
    --color-primary-50: #f0fdfa;
    --color-primary-100: #ccfbf1;
    --color-primary-light: #14b8a6;
    --color-primary-lighter: #2dd4bf;
    --color-primary-dark: #0f766e;
    --color-primary-darker: #115e59;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Form Inputs */
.input-container {
    @apply mb-2;
}
.input,
.select {
    @apply shadow-sm focus:ring-primary focus:border-primary mt-1 p-1.5 block w-full sm:text-sm border
           border-gray-300 rounded-md;
}
.input[type='file'] {
    @apply outline-none p-1.5;
}
.input-error {
    @apply border-red-500;
}
.input-label {
    @apply block font-medium text-gray-700;
}
.hints {
    @apply text-xs text-gray-500 mt-1.5;
}
.error-msg {
    @apply text-xs text-red-600 mt-1.5;
}

/* Buttons */
.btn {
    @apply font-bold py-2 px-4 rounded;
}
.btn-primary {
    @apply bg-blue-500 text-white;
}
.btn-primary:hover {
    @apply bg-blue-700;
}
.btn-secondary {
    @apply bg-gray-500 text-white;
}
.btn-secondary:hover {
    @apply bg-gray-700;
}
.btn-warning {
    @apply bg-yellow-500 text-white;
}
.btn-warning:hover {
    @apply bg-yellow-700;
}
.btn-danger {
    @apply bg-red-500 text-white;
}
.btn-danger:hover {
    @apply bg-red-700;
}
.btn-success {
    @apply bg-green-500 text-white;
}
.btn-success:hover {
    @apply bg-green-700;
}
.btn-icon {
    @apply p-2 rounded-full w-9 h-9
}
.btn-icon-primary {
    @apply bg-blue-100 text-blue-800;
}
.btn-icon-primary:hover {
    @apply bg-blue-300;
}
.btn-icon-secondary {
    @apply bg-gray-100 text-gray-800;
}
.btn-icon-secondary:hover {
    @apply bg-gray-300;
}
.btn-icon-warning {
    @apply bg-yellow-100 text-yellow-800;
}
.btn-icon-warning:hover {
    @apply bg-yellow-300;
}
.btn-icon-danger {
    @apply bg-red-100 text-red-800;
}
.btn-icon-danger:hover {
    @apply bg-red-300;
}
.btn-icon-success {
    @apply bg-green-100 text-green-800;
}
.btn-icon-success:hover {
    @apply bg-green-300;
}
